body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color : white;
}

.container {
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(36, 31, 31);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

h1, h2 {
    text-align: center;
}

.expenses-form {
    margin-bottom: 20px;
}

.expenses-form label, .expenses-form input, .expenses-form button {
    display: block;
    margin-bottom: 10px;
}

.expenses-list {
    border-top: 1px solid #ccc;
    padding-top: 15px;
}

.expenses-list ul {
    list-style-type: none;
    padding: 0;
    width: 18rem;
    text-align: center;
}

.expense-item {
    margin-bottom: 5px;
}

.expense-item span {
    font-weight: bold;
}

input{
    padding: 1rem;
    height: 1rem;
    width: 16rem;
    border-radius: 20px;
    border: 1px solid black;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 2rem;
    width: 18rem;
}

button:hover {
    background-color: #45a049;
}


li button{
    height: 1rem;
    width: 1rem;
    background-color: transparent;
    padding: 0;
    margin-left: 1rem;
}

p{
    width: 18rem;
    text-align: center;
}

p span{
    font-size: 2rem;
}
